<p>Hi <%= @user.pseudo %></p>

<p>You applied recently to :<%= @tournoi.title %></p>

<p>After all your matches in this tournament, your captial points is : 
<%= @user.points %> points</p>

<p>Hope you had fun and challenge :-)</p>

<p>Kantik Gaming Team</p>