<h1>Listing Jeux Videos</h1>
<br/>

<table id = 'test'>
  <thead>
    <tr>
      <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    
    <% @jeux_videos.each do |jeux_video| %>
      <%= render partial: jeux_video %>
    <% end %>

  </tbody>
</table>

<br>

<%= link_to 'New Jeux video', new_jeux_video_path, id: "new_link", :remote => true %>
<br/>
<%= link_to 'Back', root_path %>


