<h1>Listing Tournois</h1>

<table id = "test">
  <thead>
    <tr>
       <th>Titre</th>
    </tr>
  </thead>

  <tbody>
    <% @tournois.each do |tournoi| %>
      <%= render partial: tournoi %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tournoi', new_tournoi_path, id: "new_link", :remote => true %>
<br/>
<%= link_to 'Back', root_path %>
