<h1>Mes Statistiques</h1>
<br/>

<p>
<strong>Nombre de Victoires:</strong>

</p>

<p>
<strong>Nombre de Défaites:</strong>

</p>

<p>
<strong>Nombre de Participation:</strong>
	<%= User.tournois.count %>
</p>

<p>
<strong>Points Totaux:</strong>

</p>

	