<footer>
    
      <div class='row'>
      <div class='col-md-2 col-md-offset-1 '>
        <h4>A propos de nous</h4>
          <br /><ul class='list-unstyled'>
            <li><a href='index.html'>Resume</a></li>
            <li><a href='tickets.html'>Terms of Use</a></li>
            <li><a href='stations.html'>Privacy policy</a></li>
          </ul>
      </div>

      <div class='col-md-2 col-md-offset-1'>
        <h4>Besoin d'aide ?</h4>
          <br /><ul class='list-unstyled'>
            <li><a href='index.html'>Support</a></li>
            <li><a href='tickets.html'>Tickets</a></li>
            <li><a href='stations.html'>Forum</a></li>
          </ul>
      </div>

      <div class='col-md-2 col-md-offset-1'>
        <h4>Liens Utiles</h4>
          <br /><ul class='list-unstyled'>
            <li><a href='index.html'>Make a Profil</a></li>
            <li><a href='tickets.html'>Register a Tournament</a></li>
            <li><a href='stations.html'>Tell your friends</a></li>
          </ul>
      </div>

      <div class='col-md-2 col-md-offset-1'>
        <h4>Contacts</h4> 
          <br /><ul class='list-unstyled'>
            <li><a href='index.html'>Join the Staff</a></li>
            <li><a href='tickets.html'>Social network</a></li>
            <li><a href='stations.html'>Press</a></li>
          </ul>
      </div>
      </div>
</footer>