<div id='home page'>
    
    <section>
      <div class='row  well text-center'>
      <div class='col-md-12'>
        <h4>Pays</h4>
        <p>Veuillez sélectionner votre pays afin de trouver les tournois près de chez vous ! </p>
      </div>
      </div>
    </section>

    <section>
      <div id='prochains_tournois'>
      <div class='row well'>
      <div class='col-md-6'>
        <h2>Prochains Tournois</h2>
        <div id='travaux'>
         <img src='http://leventefajka.info/under-construction-png.png' width='50%' height='50%' />
        </div>
      </div>
          <aside>
            <div class='col-md-6'>
              <%= image_tag('overwatch.png', width:'100%', height:'300%')%>  
            </div>
          </aside>
      </div>
      </div>
    </section>

    <section>
      <div id='news'>
      <div class='row well '>
      <div class='col-md-6'>
        <h2>News</h2>
        <div id='travaux'>
         <img src='http://leventefajka.info/under-construction-png.png' width='50%' height='50%p' />
        </div>
      </div>
      <div class='col-md-6'>
        <h2>Abonnement Premium</h2>
        <p>Envie de nous soutenir et de bénéficier d'un max d'avantages plus stylés les uns que les autres ? Alors n'hésite pas à t'abonner ! Pour seulement 5€/mois tu bénéficieras d'une place réservée pour tous les tournois que tu désires et de plein d'autres avantages. Alors n'attends plus !!! </p>
        <button type='button' class='btn btn-lg btn-default'>En savoir plus</button>
        <button type='button' class='btn btn-lg btn-primary'>Abonne-toi</button>
      </div>
      </div>
      </div>
    </section>
    
    <section>
      <div class ='row  well text-left'>
      <div class='col-md-5'>
        <h2>Légendes</h2>
        <p>Ce sont les meilleurs joueurs de ce mois-ci. Ils ont conquis les tournois et ont engrangés le plus de points, faisant régner la terreur sur le site. Ce sont...ce sont...les LEGENDES !!!</p>
      </div>

      <div class='col-md-5 col-md-offset-1'>
        <h2>Partenaires</h2>
        <p>Notre sponso à l'honneur cette semaine. Un grand merci à lui et n'hésitez pas à aller checker leur site pour voir ce qu'ils proposent. Merci encore ! </p>
      </div>
      </div>
    </section>
  
</div>








