<h1>Resultats Matchs</h1>


<p>
<strong>Player 1:</strong>
 
</p>


<p>
<strong>Player 2:</strong>
  
</p>


<p>
<strong>Score player1:</strong>
  <%= score_player1 %>
</p>

<p>
<strong>Score player2:</strong>
  <%= score_player2 %>
</p>



